html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: $font-size;
  font-family: $font-stack;
}

img {
  vertical-align: middle;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
