.section {
  padding: 5em 0;

  &--main {
    background-color: $section-main;
  }

  &--art {
    background-color: $section-art;
  }

  &--foo {
    background-color: $section-foo;
  }

  &--bar {
    background-color: $section-bar;
  }

  &__title {
    font-size: 3.5em;
    text-transform: uppercase;
  }
}
